body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #2d2f38;
}

a {
  color: #4B74FE;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #3463FF;
  text-decoration: underline;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.3;
}


.bg-black {
  background-color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-primary {
  background-color: #2F89FC !important;
}

a.bg-primary:hover, a.bg-primary:focus {
  background-color: #167bfc !important;
}

.bg-accent {
  background-color: #F52E91 !important;
}

a.bg-accent:hover, a.bg-accent:focus {
  background-color: #f41684 !important;
}

.bg-secondary {
  background-color: #6D728B !important;
}

a.bg-secondary:hover, a.bg-secondary:focus {
  background-color: #62667d !important;
}

.bg-success {
  background-color: #06CC89 !important;
}

a.bg-success:hover, a.bg-success:focus {
  background-color: #05b378 !important;
}

.bg-info {
  background-color: #0EA1E6 !important;
}

a.bg-info:hover, a.bg-info:focus {
  background-color: #0d90ce !important;
}

.bg-warning {
  background-color: #F68718 !important;
}

a.bg-warning:hover, a.bg-warning:focus {
  background-color: #eb7a09 !important;
}

.bg-danger {
  background-color: #FF4457 !important;
}

a.bg-danger:hover, a.bg-danger:focus {
  background-color: #ff2b40 !important;
}

.bg-grey {
  background-color: #AFB7C1 !important;
}

a.bg-grey:hover, a.bg-grey:focus {
  background-color: #a1aab6 !important;
}

.bg-dark {
  background-color: #33374B !important;
}

a.bg-dark:hover, a.bg-dark:focus {
  background-color: #292c3c !important;
}

.bg-light {
  background-color: #F2F4FE !important;
}

a.bg-light:hover, a.bg-light:focus {
  background-color: #dae0fc !important;
}

.fg-black {
  color: #000 !important;
}

.fg-white {
  color: #fff !important;
}

.fg-primary {
  color: #2F89FC !important;
}

a.fg-primary:hover, a.fg-primary:focus {
  color: #167bfc !important;
}

.fg-accent {
  color: #F52E91 !important;
}

a.fg-accent:hover, a.fg-accent:focus {
  color: #f41684 !important;
}

.fg-secondary {
  color: #6D728B !important;
}

a.fg-secondary:hover, a.fg-secondary:focus {
  color: #62667d !important;
}

.fg-success {
  color: #06CC89 !important;
}

a.fg-success:hover, a.fg-success:focus {
  color: #05b378 !important;
}

.fg-info {
  color: #0EA1E6 !important;
}

a.fg-info:hover, a.fg-info:focus {
  color: #0d90ce !important;
}

.fg-warning {
  color: #F68718 !important;
}

a.fg-warning:hover, a.fg-warning:focus {
  color: #eb7a09 !important;
}

.fg-danger {
  color: #FF4457 !important;
}

a.fg-danger:hover, a.fg-danger:focus {
  color: #ff2b40 !important;
}

.fg-grey {
  color: #AFB7C1 !important;
}

a.fg-grey:hover, a.fg-grey:focus {
  color: #a1aab6 !important;
}

.fg-dark {
  color: #33374B !important;
}

a.fg-dark:hover, a.fg-dark:focus {
  color: #292c3c !important;
}

.fg-light {
  color: #F2F4FE !important;
}

a.fg-light:hover, a.fg-light:focus {
  color: #dae0fc !important;
}


.btn {
  padding: 10px 28px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:focus, .btn.focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  color: #fff;
  background-color: #2F89FC;
  border-color: #2F89FC;
}

.navbar {
    min-height: 70px;
    border-bottom: solid 2px #5276c7;
    background: #33374b;
    
}

.navbar-float {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(51, 55, 75, 0.15);
          box-shadow: 0 2px 6px rgba(51, 55, 75, 0.15);
  z-index: 1070;
}

.navbar.sticky {
  z-index: 1080;
}

.navbar.sticky.fixed ~ * {
  margin-top: 70px;
}

.navbar.sticky.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: navTransition .5s ease;
          animation: navTransition .5s ease;
  -webkit-box-shadow: 0 2px 6px rgba(51, 55, 75, 0.15);
          box-shadow: 0 2px 6px rgba(51, 55, 75, 0.15);
  z-index: 1080;
}



.navbar-brand {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav {
  margin-top: 10px;
  border-top: 1px solid #e4e7ee;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.regform {
    background: #33374b;
    font-weight: bold;
    color: #f6f4f4;
    border: solid 2px #2196f3;
    border-radius: 20px;
}

.navbar-nav .nav-link {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-nav .btn {
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #a7b0b8;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}


.form-control:focus {
    color: #e2e5e8;
    background-color: #e8e3e3;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-sm .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-md .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgb(249 244 244 / 90%);
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-lg .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-xl .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-control {
  padding: 8px 15px;
  height: calc(1.5em + 1.375rem + 2px);
  border-color: #dee1e6;
}


.bg-img {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img > * {
  position: relative;
  z-index: 10;
}

.bg-img-parallax {
  background-attachment: fixed;
}

.bg-img-overlay-dark {
  position: relative;
}

.bg-img-overlay-dark::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #33374B;
}

.bg-img-size-contain {
  background-size: contain;
}

.bg-img-size-100 {
  background-size: 100% 100%;
}


.page-banner {
  position: relative;
  height: 340px;
  background-color: #6D728B;
}

.page-banner .container {
  position: relative;
  z-index: 10;
}

.page-banner.home-banner {
  height: auto;
  max-height: 500px;
}

.page-banner.overlay-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 114, 139, 0.75);
  z-index: 1;
}

@media (min-width: 768px) {
  .page-banner.home-banner {
    height: 540px;
    max-height: unset;
  }
}

.slider-wrapper {
  position: relative;
  height: 100%;
}

.hero-carousel {
  height: 100%;
}

.owl-carousel .owl-stage-outer {
  height: 100%;
}

.hero-carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 55, 75, 0.5);
}

.hero-carousel-item img {
  width: 100%;
  height: auto;
}

.hero-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hero-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.hero-carousel .owl-nav .owl-prev,
.hero-carousel .owl-nav .owl-next {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hero-carousel:hover .owl-nav .owl-prev,
.hero-carousel:hover .owl-nav .owl-next {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero-carousel .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.hero-carousel .img-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 16px;
  width: auto;
  max-width: 900px;
  height: 100%;
  text-align: center;
  color: #fff;
  margin-top: 10%;
}

.hero-carousel h1 {
  font-weight: 300;
}

.hero-carousel .subhead {
  color: #fff;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero-carousel h1 {
    font-size: 56px;
  }
  .hero-carousel .subhead {
    font-size: 20px;
  }
}

.page-section {
  position: relative;
  display: block;
  padding: 80px 0;
}

.page-section p {
  color: #6D728B;
}

.title-section {
  display: block;
  max-width: 450px;
  color: #2d2f38;
  font-weight: 600;
  margin-bottom: 32px;
}

.text-center .title-section {
  margin-left: auto;
  margin-right: auto;
}

.about-img {
  position: relative;
  margin: 15px auto;
  width: auto;
  max-width: 500px;
  
}

.about-img img {
  width: 100%;
}


header
{
	border: 1px solid #cccc;
}


.form-register .form-control {
  background-color: #F2F4FE;
  border-color: transparent;
}

.form-register .form-control:focus {
  background-color: transparent;
  border-color: #94c2fd;
  -webkit-box-shadow: 0 0 0 1px #94c2fd;
          box-shadow: 0 0 0 1px #94c2fd;
}


.page-footer {
  position: relative;
  display: block;
 
  padding-bottom: 20px;
  background-color: #33374B;
  color: #fff;
}

.page-footer hr {
  border-color: #464B61;
}

.page-footer h5 {
  margin-bottom: 24px;
}

.page-footer p {
  color: rgba(255, 255, 255, 0.7);
}

.footer-menu {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.footer-menu li {
  margin-bottom: 8px;
}

.footer-menu a {
  color: #AFB7C1;
}

.footer-menu a:hover {
  color: #fff;
}

/* Custom Plugin */
.owl-nav {
  display: block;
  margin: auto;
  text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  margin: auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #2F89FC;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next {
  right: 10px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 10px;
}

.owl-carousel .owl-dots {
  display: block;
  margin: 16px auto;
  text-align: center;
}

.owl-carousel button.owl-dot {
  display: inline-block;
  margin: 0 4px;
  width: 36px;
  height: 4px;
  background-color: #c6ccd3;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.owl-carousel button.owl-dot:focus {
  outline: none;
}

.owl-carousel button.owl-dot.active {
  background-color: #2F89FC;
}

.navbar-light .navbar-brand {
    color: rgb(242 240 240 / 90%);
}
